<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3><%= "apnacollage".toUpperCase()%></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate ab distinctio accusamus maxime similique assumenda exercitationem reprehenderit facilis voluptas, in quibusdam ullam veritatis aspernatur ut quasi nam. Esse, nostrum repellendus.
    Excepturi iusto corrupti quo quidem at eum rem maiores error laudantium dolorum eligendi totam vitae, labore consectetur debitis impedit fugiat numquam itaque accusamus? Sapiente dolore nulla veniam accusamus a vitae!
    Iste hic expedita dolores maxime exercitationem soluta consequatur, in totam nulla voluptas minus esse quae ipsam nesciunt eius nostrum mollitia illo vero earum rerum nisi modi nemo unde rem! Doloribus.
    Quam aperiam, blanditiis dignissimos veniam culpa ex possimus consectetur est commodi tenetur accusantium asperiores quaerat, dolor unde aliquid. Aspernatur facere ipsa vel distinctio temporibus expedita dolore nulla quia tenetur ut!
    Animi ducimus veniam repellendus neque. Iste iure numquam amet molestias natus perspiciatis, ad excepturi aperiam laudantium aliquam, omnis illo laboriosam temporibus animi nemo ipsa unde? Quam itaque ad exercitationem ipsam?</p>
    <button>click me</button>
</body>
</html>